@import './Design.scss';

.sleepQualityPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .sleepQualityButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;

    .simleyFace {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background-image: $blueGradient-image;
      padding: 1rem;
      border-radius: 3rem;
      border: none;
      transition: all 0.4s ease 0s;
      font-size: 2rem;
      margin-right: 0.5rem;
    }
    .simleyFace:hover {
      background: $primary-color;
      letter-spacing: 0.0625rem;
      -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
      box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
      transition: all 0.4s ease 0s;
    }
  }
}

@media only screen and (max-width: 810px) {
  .sleepQualityPage {
    .sleepQualityButton {
      display: flex;
      flex-direction: column;
    }
  }
}
