@import './Design.scss';

.avg {
  display: flex;
  justify-content: center;
  align-items: center;
  .avgTable {
    margin: 2rem 8rem 3rem 8rem;
    border: solid;
    padding: 2rem;

    .avgSection {
      display: flex;
      justify-content: center;
      align-items: center;

      .avgSectionTitle {
      }
      .avgSectionTotal {
        margin-top: 0.8rem;
        padding: 0rem;
        padding-left: 1rem;
      }
    }
  }
}
