@import './Design.scss';
.displaySleepStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    .sleepStatsDay {
      border: solid;
      margin: 1rem;
      padding: 0.2rem;
      .sleepStatsTitle {
        display: flex;
        border-bottom: solid;
        justify-content: space-evenly;
        .sleepStatsTitleDayName {
          color: $primary-color;
        }
      }
      .displaySleepStatsTextInfo {
        display: flex;
        font-style: $title-font;
        .sleepDisplayListItems {
          border-right: solid;
          text-align: center;
          section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .titleName {
              font-style: $title-font;
              padding: 0.2rem 0.2rem 0.2rem 0.2rem;
            }
            .sleepData {
              font-size: 1rem;
              font-style: $word-font;
              color: $primary-color;
            }
          }
        }
        .sleepDisplayListItemsTwo {
          text-align: center;
          section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .titleName {
              font-style: $title-font;
              padding: 0.2rem 0.2rem 0.2rem 0.2rem;
            }
            .sleepData {
              font-size: 1rem;
              font-style: $word-font;
              color: $primary-color;
            }
          }
        }
      }
    }
    .sleepStatsDay:hover {
      background: $primary-color;
      border-color: whitesmoke;
      .sleepStatsTitle {
        border-bottom-color: whitesmoke;
        .sleepStatsTitleDay {
          color: whitesmoke;
        }
        .sleepStatsTitleDayName {
          color: $quaternary-color;
        }
      }
      .displaySleepStatsTextInfo {
        color: whitesmoke;
        .sleepDisplayListItems {
          section {
            .titleName {
            }
            .sleepData {
              color: $quaternary-color;
            }
          }
        }
        .sleepDisplayListItemsTwo {
          section {
            .titleName {
            }
            .sleepData {
              color: $quaternary-color;
            }
          }
        }
      }
    }
  }
}
