@import './Design.scss';
.displaySleepStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1,
  h2,
  h4 {
    font-family: $title-font;
    font-weight: bold;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    .sleepStatsDay {
      border: solid;
      margin: 1rem;
      padding: 1rem;
      .sleepStatsTitle {
        display: flex;
        border-bottom: solid;
        justify-content: space-evenly;
        font-family: $title-font;
        .sleepStatsTitleDayName {
          color: $primary-color;
          padding-left: 0.5rem;
        }
      }
      .displaySleepStatsTextInfo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: $title-font;
        .sleepDisplayListItems {
          border-right: solid;
          text-align: center;
          section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .titleName {
              font-family: $title-font;
              padding: 0.2rem 0.2rem 0.2rem 0.2rem;
            }
            .sleepData {
              font-size: 1rem;
              font-style: $word-font;
              color: $primary-color;
            }
          }
        }
        .sleepDisplayListItemsTwo {
          text-align: center;
          section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .titleName {
              font-style: $title-font;
              padding: 0.5rem 0.5rem 0.5rem 0.5rem;
            }
            .sleepData {
              font-size: 1rem;
              font-style: $word-font;
              color: $primary-color;
            }
          }
        }
      }
      .qualityRating {
        text-align: center;
        border-top: solid;
        border-color: $quinary-color;
        color: $primary-color;
        padding-top: 0.2rem;
      }
    }
    .sleepStatsDay:hover {
      background: $primary-color;
      border-color: $tertiary-color;
      .sleepStatsTitle {
        border-bottom-color: $tertiary-color;
        .sleepStatsTitleDay {
          color: $tertiary-color;
        }
        .sleepStatsTitleDayName {
          color: $quaternary-color;
        }
      }
      .displaySleepStatsTextInfo {
        color: $tertiary-color;
        .sleepDisplayListItems {
          section {
            .titleName {
            }
            .sleepData {
              color: $quaternary-color;
            }
          }
        }
        .sleepDisplayListItemsTwo {
          section {
            .titleName {
            }
            .sleepData {
              color: $quaternary-color;
            }
          }
        }
      }
      .qualityRating {
        border-color: $tertiary-color;
        color: $quaternary-color;
      }
    }
  }
}
