/* Provide sufficient contrast against white background */
@import './components/design.scss';
@import './components/homepage.scss';
html {
  background-color: $quaternary-color;
}
div {
  background-color: $quaternary-color;
  color: $quinary-color;
  min-height: 100vh;
  min-width: 100vw;
}
