/* Provide sufficient contrast against white background */
@import './components/Design.scss';
@import './components/HomePage.scss';
@import './components/Activate.scss';
@import './components/SleepQuality.scss';
@import './components/StatsDisplay.scss';
@import './components/NavBarDesign.scss';
@import './components/StatsAvg.scss';
html {
  background-color: $quaternary-color;
}

div {
  background-image: $gradient-image;
  color: $quinary-color;
  min-height: 100vh;
  min-width: 92vw;
}
.container {
  padding: 0;
}
// .insertNavBar {
//   align-self: flex-end;
// }
